[Unit]
Description=rss

[Service]
Type=simple
Environment=BASEURL=
Environment=PORT=3000
Environment=FROM=
Environment=SMTP_USER=
Environment=SMTP_PASS=
Environment=SMTP_PORT=587
Environment=SMTP_SERVER=smtp.gmail.com
Restart=always
RestartSec=5s
ExecStart=/home/go/src/rss/bin/web

[Install]
WantedBy=multi-user.target