body {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    margin: 20px;
}

h2 {
    cursor: pointer;
}

.rss-item {
    margin-bottom: 10px;
}

.rss-item button {
    margin-left: 10px;
}

.article {
    margin-top: 10px;
}